<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Jack Davidson :: Contact</title>
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/blogs.css">
    <link rel="stylesheet" href="/css/container.css">
    <link rel="stylesheet" href="/css/contact.css">

</head>
<body>
    <%- include('nav') %>
    <div class="card contact">
        <div class="content-container">
            <h1>Contact</h1>
            <% for (key in contact) { %>
                <% if (contact[key].match(/https?/)) { %>
                    <b><%= key %></b>: <a href="<%= contact[key] %>" ><%= contact[key].replace(/https?\:\/\//, '') %></a>
                <% } else { %>
                    <b><%= key %></b>: <%= contact[key] %>
                <% }; %>
                <br>
            <% }; %>
            </div>
        </div>
    </div>
</body>
</html>
